@import "./utils/_variables";
@import "./utils/_mixins";
@import "./base/_reset";
@import "./base/_header_footer";
@import "./base/_login";
@import "./base/_modal";


main {
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

body {
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
    background: $background;
}

section {
	margin: 50px 0;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: $color-secondary;
}

/* Section #introduction */

#introduction {
	display: flex;
	align-items: center;
    padding: 0 80px 0 40px;

    & figure {
        flex: 1;
    }

    & img {
        display: block;
        margin: auto;
        width: 80%;
    }

    & article {
        flex: 1;
    }

    & h2 {
        margin-bottom: 1em;
    }

    & p {
        margin-bottom: 0.5em;
    }
}

/* Section #portfolio */

#portfolio {

    & .portfolio__title {
        display: flex;
        flex-direction: row;
        justify-content: center;    
        align-items: center;
        margin-bottom: 30px;

        & h2 {
            margin-right: 20px;
        }

        &__modifie {
            cursor: pointer;
            display: none;
            font-size: 14px;
            font-weight: 400;

            & i {
                margin-right: 6px;
            }
        }
    }

    
}

.gallery {
    margin-top: 40px;
    width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;

    & img {
        width: 100%;
    }
}

.filter__gallery {
	display: flex;
	flex-direction: row;
	justify-content: center;

    .selected {
        background-color: $color-secondary;
        color: white;
    }
}

.filter__button {
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
	font-family: 'Syne';
	color: $color-secondary;
	margin: 5px;
	padding: 8px 20px;
	border: solid $color-secondary 1px;
	border-radius: 60px;
}

.Filter__login__modifie {
	font-size: 14px;
	font-weight: 400;
}

/* Section #Contact */

#contact {
	width: 50%;
    margin: auto;

    & > * {
        text-align: center;
    }

    & h2 {
        margin-bottom: 20px;
    }

    & form {
        text-align: left;
        margin-top:30px;
        display: flex;
        flex-direction: column;

        & #contactInfo {
            margin-top: 8px;
            text-align: center;
        }
    }

    & input {
        height: 50px;
        font-size: 1.2em;
        border: none;
        @include box-shadow;

        &.error {
            border: 2px solid red;
        }
    }

    & label {
        margin: 2em 0 1em 0;
    }

    & textarea {
        border: none;
        @include box-shadow;
    }

    & input[type="submit"] {
        @include button;
    }
}


.EditHeader {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    align-items: center;

    & i {
        margin-right: 10px;
    }
}