.icon_insta {
    width: 20px;
}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 78vh;
}

.login__container h2 {
    margin-bottom: 40px;
    text-align: center;
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login__form a {
    text-align: center;
    text-decoration: underline;
}

.login__form label {
    margin-bottom: 6px;
}

.login__form input {
    border: none;
    height: 50px;
    margin-bottom: 20px;
    @include box-shadow;
}

input[type="submit"] {
    @include button;
}

.error__message {
    text-align: center;
    color: red;
}
