.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal__content {
    display: flex;
    flex-direction: column;
    background-color: #FFFEF8;
    position: relative;
    margin: auto;
    padding: 30px;
    border: 1px solid black;
    width: 630px;
    height: 690px;

    &__btn {
        display: flex;
        position: relative;
        justify-content: space-between;

        &__return {
            // display: none;
            position: absolute;
            left: 0px;
            width: 24px;
            height: 24px;

            &:hover {
                cursor: pointer;
            }
        }

        &__close {
            position: absolute;
            right: 0px;
            width: 24px;
            height: 24px;

            &:hover {
                cursor: pointer;
            }
        }

    }

    &__title {
        font-size: 26px;
        font-weight: 400;
        text-align: center;
        margin-top: 25px;
    }
}

.modal__content__body {
    margin: 20px 50px 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80%;
    border-bottom: 1px solid #B3B3B3;

    & figure {
        position: relative;
        flex-basis: 18%;
        margin: 2px;
        & img {
            width: 100%;
        }
        & i {
            position: absolute;
            top: 6px;
            right: 6px;
            padding: 4%;
            border-radius: 2px;
            background-color: black;
            color: white;
            transition: color 0.5s;
            transition: background-color 0.5s;

            &:hover {
                cursor: pointer;
                color: black;
                background-color: #FFFEF8;
            }
        }
    }

    & form {
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    & input {
        height: 50px;
        font-size: 1.2em;
        border: none;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    }

    #add__category {
        padding-right: 10%;
        height: 50px;
        border: none;
        outline: none;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    }

    & label {
        font-size: 14px;
        font-weight: 500;
        margin: 2em 0 1em 0;
    }
    
}

#fileInput {
    display: none;
}

.fileLabelInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8F1F6;
    height: 200px;

    & i {
        color: #B9C5CC;
        font-size: 80px;
    }

    & p {
        font-size: 10px;
    }
    
    .jsBtnAdd {
        font-size: 14px;
        font-weight: 500;
        color: #306685;
        text-align: center;
        background-color: #CBD6DC;
        border-radius: 25px;
        padding: 10px;
        width: 174px;
        margin: 6px 0 8px 0;
    }

    & img {

        height: 100%;
    }
}

#addModalBtn {
    width: 237px;
    padding: 10px;
}

#js_modalConfirm {
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    margin: auto;

    &Contente {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFFEF8;
        width: 25%;
        height: 20%;
        padding: 20px;
        margin: auto;
        text-align: center;

        & p {
            font-family: 'Syne';
            font-weight: 700;
            color: white;
            background-color: #1D6154;
            padding: 6px;
            margin: 6px;
            width: 80px;
            text-align: center;
            border-radius: 60px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

#infoMessage {
    text-align: center;
}